{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Doctors listed</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find Your Doctor</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide high quality online medical consultations tailored to your needs</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="#" class="boxed-btn3">Upload Medical Complaint</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="img/banner/illustration.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->

{% include 'registration/search.html' %}

    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Popolar Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Dentistry</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>surgery</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Internal Medicine</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Speech-Language</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Hematology</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Oncology</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Pediatrics</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Ear, nose and throat</h4></a>
                        <p> <span>50</span> Available Doctor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_catagory_area_end  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>Doctor Listing</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brouse_job text-right">
                        <a href="jobs.html" class="boxed-btn4">Browse More Doctor</a>
                    </div>
                </div>
            </div>

            <div class="job_lists">
                <div class="row" >

                    {% for doctor in doctors %}
                    <div class="col-lg-12 col-md-12" >
                        <div class="single_jobs white-bg d-flex justify-content-between" >
                                <div class="jobs_left d-flex align-items-center " >
                                    <div>

                                        {% if doctor.profile.image %}
                                            <img src="{{ doctor.profile.image.url }}"  width="100" height="100">
                                        {% else %}
                                            <img src="{% static 'static_file/img/candiateds/2.png' %}"  width="100" height="100">
                                        {% endif %}
                                    </div>
                                    <div class="jobs_conetent" style=" margin-left: 20px;>
                                        <a href=""><h5>Doctor {{ doctor.profile.name }}</h5></a>
                                        <h6>{{ doctor.profile.subtitle }} </h6>
                                        <div class="links_locat">
                                            <div class="location">
                                                <p> <i class="fas fa-briefcase-medical"></i> Doctor <span style="color: blue ;">{{ doctor.profile.doctor }}</span> specialized in <span style="color: blue;">{{ doctor.profile.specialist_doctor }}</span> </p>
                                                <p> <i class="fa fa-map-marker"></i>{{ doctor.profile.address }} : {{ doctor.profile.address_detail }}</p>
                                                <p> <i class="fa fa-map-marker"></i> detection : <span style="color: blue;">{{ doctor.profile.price }}</span> pound </p>
                                                <p> <i class="fa fa-clock-o"></i> waiting time : <span style="color: blue;">{{ doctor.profile.waiting_time }} </span> min</p>
                                                <p> <i class="fa fa-clock-o"></i> working hours : <span style="color: blue;">{{ doctor.profile.working_hours }}</span> hour</p>
                                                <p> <i class="fa fa-clock-o"></i>Normal call price : <span style="color: blue;"> number_phone </span>  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="boxed-btn3" href="">Book a statement</a>
                                </div>
                                <div class="rating">
                                    <div class="text-warning"  style="margin-top:8px;">
                                        <!-- to make image category for clinic image -->
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating" style="margin-top:8px;" >
                                        <h5>Dr.evaluation</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

    <!-- featured_candidates_area_start  -->
    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>Featured Candidates</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/1.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/2.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/3.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/4.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/5.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/6.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/7.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/8.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/9.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'static_file/img/candiateds/10.png' %}" alt="" >
                            </div>
                            <a href="" ><h4 >Name</h4></a>
                            <p>Specialization</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                </div>
                                <div class="best-rating" >
                                    <h5>Dr. evaluation</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured_candidates_area_end  -->



{% endblock body %}