
    <!-- catagory_area -->
    <div class="catagory_area">
        <div class="container" style="margin-top: 1rem" style="margin-down: 1rem">
            <h3>Book with the best doctor in Egypt</h3>
            <h3>Book online or call 17758</h3>
            <h3>16,000 doctors - 4,000 professors and consultants - more than 20 specializations</h3>
        </div>
        <div class="container" style="margin-top: 3rem" style="margin-down: 1rem">
            <div class="row cat_search">
                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <input type="text" placeholder="Doctor Name">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide" >
                            <option data-display="Location">Location</option>
                            <option value="1">Dokki</option>
                            <option value="2">Mansoura</option>
                            <option value="3">ٍٍSheikh Zayed</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide">
                            <option data-display="Category">Category</option>
                            <option value="1">Internal Medicine</option>
                            <option value="2">Endocrinology</option>
                            <option value="3">Cardiology</option>
                            <option value="4">Gastroenterology</option>
                            <option value="5">Obstetrics and Gynecology</option>
                            <option value="6">Ophthalmology</option>
                            <option value="7">Pediatrics</option>
                            <option value="8">Ear, nose and throat</option>
                            <option value="9">Ophthalmology</option>
                            <option value="10">Neurology</option>
                            <option value="11">Nephrology</option>
                            <option value="12">Oncology</option>
                            <option value="13">Urology</option>
                            <option value="14">Dermatology</option>
                            <option value="15">Oncology</option>
                            <option value="16">Allergy and immunology</option>
                            <option value="17">Hematology</option>
                            <option value="18">General Practitioner</option>
                            <option value="19">Emergency medicine</option>
                            <option value="20">Dentistry</option>
                            <option value="21">Psychiatry</option>
                            <option value="22">Sports medicine</option>
                            <option value="23">surgery</option>
                            <option value="24">Speech-Language</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="job_btn">
                        <a href="#" class="boxed-btn3">search here</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="popular_search d-flex align-items-center">
                        <span>Popular Search:</span>
                        <ul>
                            <li><a href="#">Dentistry</a></li>
                            <li><a href="#">Psychiatry</a></li>
                            <li><a href="#">Speech-Language</a></li>
                            <li><a href="#">Internal Medicine</a></li>
                            <li><a href="#">Hematology</a></li>
                            <li><a href="#">surgery</a></li>
                            <li><a href="#">Neurology<</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ catagory_area -->
